<h1>Registrations#new</h1>
http://localhost:3000/registration/new
<p>Find me in app/views/registrations/new.html.erb</p>

<% form_for(@user, url: registration_path) do |form| %>
  <%= render partial: 'shared/errors', locals: { item: @user } %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :password %>
    <%= form.text_field :password %>
  </div>

  <%= form.submit :create %>
<% end %>

